@import './styles/tokens.css';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  background: var(--sand);
}

img {
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}
